<div class="welcome-message">
  <h1>Welcome to Bookfund</h1>
  <h3>Bookfund is an easy way for authors to connect with</h3>
  <h3>an audience and have make publishing attainable for everyone.</h3>
</div>