<div class="jumbotron jumbotron-fluid">
  <div class="container welcome-message">
    <h1>Welcome to Bookfund</h1>
    <h3>Bookfund is an easy way for authors to connect with</h3>
    <h3>an audience and make publishing attainable for everyone.</h3>
    <h3>By teaming up with readers like you and small publishers</h3>
    <h3>we have brought the power of crowdfunding to book publishing.</h3>
  </div>
</div>