<table class="table">
  <tr>
    <th>Order</th>
    <th>Total Price</th>
    <th>Status</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to "Order ##{order.id}" %></td>
      <td><%= number_to_currency(order.total_price) %></td>
      <td><%= order.status %></td>
    </tr>
  <% end %>
</table>