<h1>Browse our eBooks</h1>

<% @ebooks.each do |ebook| %>
  <div class="ebook-index-item">
    <div class="title">
      <%= link_to "#{ebook.title}", ebook_path(ebook) %>
    </div>
    <div class="description">
      <%= ebook.description %>
    </div>
    <%= button_to "Add to Cart", cart_path(ebook_id: ebook.id) %>
  </div>
<% end %>

<%= will_paginate @posts %>