<h1>Browse our eBooks</h1>

<% @ebooks.each do |ebook| %>
  <div class="ebook">
    <div class="title">
      <%= ebook.title %>
    </div>
    <div class="description">
      <%= ebook.description %>
    </div>
    <%= button_to "Add to Cart", cart_path(ebook_id: ebook.id) %>
  </div>
<% end %>

<%= will_paginate @posts %>